@import 'normalize.css';

:root {
	--font-header: monospace;
	--font-mono: monospace;
	--font-body: monospace;
	--column-width: 42rem;
	--margin: 20px;

	font-family: var(--font-body);
	color: var(--primary);
}

:root {
	--background: #0068c7;
	--background-50: #e0d0d080;
	--primary: #e4e4e4;
	--primary-50: #e4e4e480;
	--primary-10: #e4e4e41a;

	--green: #008080;
	--white: #fafafa;
	--black: #1b1b1b;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: 400;
	color: var(--primary);
	letter-spacing: 0.05em;
	line-height: 150%;
	font-size: 12px;
}

html, body {
	overscroll-behavior: none;
	background: var(--background);
}

::-moz-selection {
	color: var(--background);
	background: var(--primary);
}

::selection {
	color: var(--background);
	background: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-header);
	letter-spacing: 0.05em;
	margin: 0;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

button {
	font-family: inherit;
	cursor: pointer;
}

button:focus:not(:focus-visible) {
	outline: none;
}

:focus-visible {
	outline: 1px solid var(--primary);
	outline-offset: 2px;
}